//Botones de la pagina

//boton de card
.cardBtn{
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    border: 2px solid $secundary;
    letter-spacing: 0.05em;
    &:hover{
        background: $hojaAmarilla;
        color: $terciary;
        border: 2px solid $secundary;
    }

}

//Boton de producto
.producto__btn{
    background-color: white;
    font-weight: 500;
    &:focus{
        box-shadow: none;
    }
    &:hover{
        background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
        color:white;
    }
    &:not(.collapsed){
        background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);;
        color: white;
    }
}

//Boton de encabezado
.header__btn{
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7rem 1.4em 0.7em 1.1em;
  color: white;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  border: 2px solid $secundary;
  &:hover{
    background: $hojaAmarilla;
    color: $terciary;
    border: 2px solid $secundary;
    transform: scale(1.1);
  }
}