//Estilos para imagenes de la pagina
.contenedorImg{
    height: 40vh;
}
.imagen__principal{
    height: 100%;
    width: 100%;
}

.card__img{
    width: 100%;
  }

.propiedades__img{
    height: 100%;
    width: 100%;
}

